/* large Screens*/
@media only screen 
and (min-device-width : 769px) 
and (max-device-width : 1920px){
    /*******************************index.html************************/
    .header{
        margin-left: 30px;
        margin-top: 20px;
        font-size: 20px;
    }
    .naviDesktop ul{
        display: flex;
        float: right;
    }
    .naviDesktop li{
        list-style: none;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -50px;
        font-size: 20px;
    }
    .profilePic{
        width: 250px;
        height: 250px;;
        margin-left: 20px;
        margin-top: 70px;
    }
    .profilePic img{
        border-radius: 50%;
    }

    .bio{
        margin-left: 30px;
        margin-right: 500px;
        margin-top: 70px;
        margin-bottom: 60px;
        font-size: 20px;
    }
    .bio h2{
        margin-top: 10px;
    }
    .bio li{
        list-style: none;
        margin-top: 15px;
    }

     /*******************************index.html************************/
    /*******************************projects.html************************/

    .projectsParent{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top:65px;
    }
    .projectsParent .projectsDescription:nth-of-type(1){
        order: 3;
    }
    .projectsParent .images:nth-of-type(2){
        order: 1;
    }
    .projectsParent .pNavi:nth-of-type(3){
        order: 4;
    }
    .projectsParent .links:nth-of-type(4){
        order: 2;
    } 
    img{
        width: 100%;
        height: 100%;
    }
    .images{
        
        width: 444px;
        height: 770px;
        margin-left: 25px;
        border-style: solid;
        border-radius: 10px;
        margin-top: -55px; 
        display: block;
    }
    .pNavi{
        display: flex;
        border: none;
        width: 100px;
        margin-top:  550px;
        font-size: 105px; 
    }
    .left{
        cursor: pointer;
        float: left;
        margin-left: 35px;
        margin-right: 35px;
        
    }
    .right{
        cursor: pointer;
    }
    .pic{
        
        border-radius: 50%;
    }
    .projectsDescription{
        width: 550px;
        margin-left: -100px;;
        margin-top: 115px;
    }
    .projectsDescription h2{
        
        margin-left: 10px;
        margin-right: 10px;
        font-size: 25px;
    }
    .projectsDescription p{
        margin-top: 45px;
        margin-left: 25px;
        margin-right: 20px;
        font-size: 25px;
    }
    .links{
    width: 100px;
    margin-top: 580px;
    }
    .repoLink{
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
    }
    .liveLink{
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
    
    }
}
