/* large Screens*/
@media only screen 
and (min-device-width : 824px) 
and (max-device-width : 1920px) {
    /*******************************index.html************************/

    .header{
        margin-left: 30px;
        margin-top: 20px;
        font-size: 20px;
    }
    .naviDesktop ul{
        display: flex;
        float: right;
    }
    .naviDesktop li{
        list-style: none;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -50px;
        font-size: 20px;
    }
    .profilePic{
        width: 250px;
        height: 250px;;
        margin-left: 20px;
        margin-top: 70px;
    }
    .profilePic img{
        border-radius: 50%;
    }

    .bio{
        margin-left: 30px;
        margin-right: 500px;
        margin-top: 70px;
        margin-bottom: 60px;
        font-size: 20px;
    }
    .bio h2{
        margin-top: 10px;
    }
    .bio li{
        list-style: none;
        margin-top: 15px;
    }

     /*******************************index.html************************/
    /*******************************projects.html************************/

    .projectsParent{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top:65px;
    }
    .projectsParent .projectsDescription:nth-of-type(1){
        order: 2;
    }
    .projectsParent .images:nth-of-type(2){
        order: 1;
    }
    .projectsParent .pNavi:nth-of-type(3){
        order: 3;
    }
    .projectsParent .links:nth-of-type(4){
        order: 4;
    } 
    img{
        width: 100%;
        height: 100%;
    }
    .images{
        
        width: 444px;
        height: 770px;
        margin-left: 25px;
        border-style: solid;
        border-radius: 10px;
        margin-top: -55px; 
        display: block;
    }
    .pNavi{
        display: flex;
        border: none;
        font-size: 105px;
        margin-top:  0px;
        margin-left: 300px;
    }
    .left{
        cursor: pointer;
        margin-right: 260px;
    }
    .right{
        cursor: pointer;
    }
    .limbo{
        width: 400px;
        height: 400px;
        margin-top: 145px;
        margin-left: auto;
        margin-right: auto;
    }
    .pic{
        
        border-radius: 50%;
    }
    .projectsDescription{
        width: 500px;
    }
    .projectsDescription h2{
        margin-top: -55px;
        margin-left: 25px;
        margin-right: 20px;
        font-size: 35px;
    }
    .projectsDescription p{
        margin-top: 45px;
        margin-left: 25px;
        margin-right: 20px;
        font-size: 35px;
    }
    .pNavi{
        margin-top: 550px;
        margin-left: -475px;
        margin-right: 0px;
        font-size: 80px;
    }
    .links{
      text-align: right;
      margin-right: 30px;
      margin-top: 690px;
    }
    .repoLink{
        margin-bottom: 10px;
    }


}
