/*smartphone portrait*/
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and (orientation: portrait) {
    /*******************************index.html************************/
    .naviPhone{
        opacity: 1.0;
        display: flex;
        height: 140px;
        margin-top: -20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .hamburger{
        flex: 1;
        cursor: pointer;
    }
    .hamburger {
        margin-top: 55px;
        width: 500px;
    }
    .header{
        font-size: 25px;
        margin-top: 55px;
        width: 1000px;
        float: left;
    }
    .header h1{
        width: 500px;
        margin-left: 20px;
    }
    .bar1, .bar2, .bar3 {
        width: 70px;
        height: 5px;
        background-color: white;
        margin: 14px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        transform: rotate(-45deg) translate(-10px, 10px) ;
    }
    .change .bar2 {
        opacity: 0;
    }
      
    .change .bar3 {
        transform: rotate(45deg) translate(-15px, -15px) ;
    }
    .profilePic{
        width: 400px;
        height: 400px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .profilePic img{
        border-radius: 50%;
    }
    .menuPhone{
        width: 200px;
        height: 200px;
        float: right;
        text-align: right;
        margin-right: 10px   
    }
    .menuPhone li{
        list-style: none;
        font-size: 45px;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .menuPhone a{
        text-decoration: none;
    }
    .bio{
        height: 600px;
        margin-top: 90px;
        margin-right: 45px;
        margin-left: 45px;
    }
    .bio h2{

        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 50px;
    }
    .bio li{
        list-style: none;
        text-align: left;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 35px;
    }
    /*******************************projects.html************************/

    .projectsDescription h2{
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 30px;
        font-size: 15px;
    }
    .projectsDescription p{
        margin-left: 220px;
        margin-top: 15px;
        font-size: 13px;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .images{
        
        width: 517px;
        height: 900px;
        margin-left: 225px;
        border-style: solid;
        border-radius: 10px;
        margin-top: 30px; 
        display: block;
    }
    .pNavi{
        display: flex;
        border: none;
        font-size: 105px;
        margin-top:  0px;
        margin-left: 305px;
    }
    .left{
        margin-right: 260px;
    }
    .links{
        text-decoration: none;
        display: flex;
        margin-top: 25px;
    }
    .repoLink a{
        margin-left: 100px;
        margin-right: 100px;
        font-size: 30px;
    }
    .liveLink a{
        margin-left: 450px;
        margin-right: 100px;
        font-size: 30px;
    }
    .limbo{
        width: 400px;
        height: 400px;
        margin-top: 275px;
        margin-left: auto;
        margin-right: auto;
    }
    .pic{
        
        border-radius: 50%;
    }
    .limbo li{
        margin-left: 125px;
        margin-top: 30px;
        text-align: left;
        list-style: none;
        font-size: 40px;
    }
  
    /*******************************projects.html************************/
}
/*smart phone landscape*/
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 823px) 
and (orientation: landscape) {
    .projectsParent{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top:65px;
    }
    .projectsParent .projectsDescription:nth-of-type(1){
        order: 2;
    }
    .projectsParent .images:nth-of-type(2){
        order: 1;
    }
    .projectsParent .pNavi:nth-of-type(3){
        order: 3;
    }
    .projectsParent .links:nth-of-type(4){
        order: 4;
    }  
    .header{
        width: 900px;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 15px;
        float: left;
    }
    .naviPhone{
        opacity: 1.0;
        display: flex;
        height: 0px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .hamburger{
        flex: 1;
        cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
        width: 50px;
        height: 5px;
        background-color: white;
        margin: 10px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        transform: rotate(-45deg) translate(-8px, 8px) ;
    }
    .change .bar2 {
        opacity: 0;
    }
      
    .change .bar3 {
        transform: rotate(45deg) translate(-10px, -10px) ;
    }
    .menuPhone{
        
        margin-left: 0px;
        margin-right: 20px;
        margin-top: 60px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    .menuPhone li{
        list-style: none;
        text-align: right;
    }
    .menuPhone a{
        text-decoration: none;
        font-size: 25px;
    }
    .profilePic{
        width: 40px;
        margin-right: 0px;
        margin-left: 420px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .profilePic img{
        border-radius: 50%;
    }
    .projectsDescription{
        width: 485px;
        height: 200px;
        font-size: 20px;
    }
    .projectsDescription h2{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .projectsDescription p{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .images{
        margin-left: 15px;
        margin-right: 15px;
    }
    .pNavi{
        display: flex;
        margin-left: -280px;
        margin-right: 0px;
        margin-top: 355px;
        margin-bottom: 0px;
        font-size: 80px;  
    }
    .left{
        margin-right: 115px;
    }
    .links{
        display: flex;
        margin-left: -555px;
        margin-right: 0px;
        margin-top: 450px;
        margin-bottom: 0px;
        font-size: 20px;   
    }
    .repoLink{
        margin-right: 20px;
    }
    .bio{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .bio h2{
        text-align: left;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .bio ul{
        margin-bottom: 10px;
    }
    .bio li{
        list-style: none;
        text-align: left;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 13px;
        
    }
    .limbo{
        display: flex;
        margin-left: 300px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .limbo li{
        list-style: none;
        margin-left: 55px;
        margin-right: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 25px;
    }
    .limbo img{
        border-radius: 50%;
    }
}
